.forma {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    color: whitesmoke;
    background-color: blue;
    border-radius: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}